.gx-app-login-wrap
{
background-image: url('../assets/images/bg-squares.svg'); 
background-position: right;
    background-origin: border-box;
    background-size: auto;
    background-repeat-x: no-repeat;
    background-color: #f9fcff;
}

.ant-btn-primary2 {
    color: #fff;
    background-color: #038fde;
    border-color: #038fde;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    color: #ffffff !important;
    background-color: #0346b9 !important;
    border-color: #0346b9 !important;
}


.ant-btn-primary2.disabled, .ant-btn-primary2:disabled {
    background-color: #0346b9  !important;
    border-color: #0346b9  !important;
}

.aloading
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11px;
}
