.companyedit {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 280px;
  padding-top: 15px;
  padding-right: 10px;
}

.steps-action {
  margin-top: 24px;
}

input[type="file"]::-webkit-file-upload-button{
  height:35px;
  }
  input[type="file"] {
    display: none;
}
.custom-file-upload {
   
    display: inline-block;
    padding: 2px 12px;
    cursor: pointer;
    cursor: pointer;
    border-width: 1px;
    border-style: dashed;
    border-color: #ccc;
}