.track-horizontal {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: inherit;
    background-color: #1890ff;
    height: 30px;
    transform: translateY(0px);
}
.MuiAvatar-root
{
    margin-top: 4px;
}

.ant-badge-count
{
    margin-top: 14px;
   
}

.ant-tooltip-inner
{
    width:fit-content;
}



