
.ant-modal-close-x
{
    margin-top: 3px;
    /* margin-left: -20px; */
    margin-right: -2px;
}
.ant-modal-body2 {
    /* padding: 24px; */
    font-size: 14px;
    line-height: 1.3;
    word-wrap: break-word;
}

.ant-form-horizontal .ant-row {
    margin-left: -10px;
    margin-right: -15px;
}
.ant-table {
    font-size:12px;
}
